.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background: #0e0b16;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 5px 50px #4484ce;
    color: #438496;
}
.title{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.title h1{
    cursor: pointer;
}
.nav-link{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.link-no-responsive{
    font-size: 30px;
    font-weight: 600;
    color: #438496;
    width: 25%;
    height: 30px;
    text-align: center;
    
}
.link-no-responsive:hover{
    font-size: 28px;
    box-shadow:  0px 0px 15px 5px #4484ce;
    border: 3px solid #4484ce;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    
}
.responsive-nav{
    position: fixed;
    top: 20px;
    right: 30px;
}
.responsive-nav button{
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 40px;
    color: #fff;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 200px;
    height: 300px;
    padding: 1.5rem;
    background-color: #fff;
}
.menu .link{
    padding: 1rem;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
@media only screen and (min-width: 800px) {
    .responsive-nav{
        visibility: hidden;
    }
    .link-no-responsive{
        font-size: 22px;
        font-weight: 600;
    }
    .nav{
        height: 80px;
    }
    .title{
        justify-content: flex-start;
        align-items: center;    
    }
    .title h1{
        padding-left: 5rem;

    }
}
@media only screen and (max-width: 800px){
    .nav-link{
        visibility: hidden;
    }
  
}